/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
img{
    max-width: 100%;
}
body{
    color: white;
    font-family: 'PT Sans', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
/*MARGIN*/
.margin-right10{
    margin-right: 10px;
}
.margin-right20{
    margin-right: 20px;
}
.margin-left-right10{
    margin: 0 10px;
}
.margin-top10{
    margin-top: 10px;
}
.margin-top30{
    margin-top: 30px;
}
.margin-bottom10{
    margin-bottom: 10px;
}
.margin-bottom20{
    margin-bottom: 20px;
}
/*FLEXBOX*/
.flexcol{
    display: flex;
    flex-direction: column;
}
.flexcolcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex{
    display: flex;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaligncenter{
    display: flex;
    align-items: center;
}
.flexjustifystart{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.spacebetweencenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spacearoundcenter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*LAYOUT*/
/*IMG HOVER*/
.col:hover img{
    filter: brightness(20%);
}
.col:hover i{
    filter: opacity(1);
}
/*DISPLAY*/
.display-block{
    display: block;
}
/*IMAGE*/
.round-image{
    border-radius: 50%;
}
/*BTN*/
.btn{
    padding: 10px 20px;
}
.primary-btn{
    border: 1px solid white;
    border-radius: 20px;
}
/*WRAPPED*/
.wrapped{
    width: 100%;
    height: 100vh;
    position: relative;
}
/*WRAPPED SECTION*/
.main{
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: calc(100% - 100px);
}
/*MAIN CHILDS*/
/*COL LEFT*/
.col-left{
    width: 200px;
    background-color: black;
}
.col-left img{
    width: 150px;
}
.col-left li{
    list-style-type: none;
    margin: 20px 0;
}
.col-left li img{
    width: 30px;
    margin-right: 10px;
}
.col-left img[alt="small logo"]{
    display: none;
}
.calltoaction img{
    width: 20px;
}
.username img{
    width: 20px;
}
/*PLAYLIST CARD*/
.card{
    width: 100%;
    font-size: 1.2em;
}
/*MAIN CONTENT*/
.main-content{
    width: calc(100% - 200px);
}
.upgrade-section{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.song-section{
    width: 100%;
    overflow-y: auto;
}
.song-lists{
    width: 100%;
    padding: 10px;
}
.discover-list{
    width: 100%;
    display: flex;
    justify-content: center;
}
.discover-list li{
    list-style-type: none;
    display: inline-block;
}
.discover-list a:hover{
    border-bottom: 2px solid lime;
}
.row{
   width: 100%;
}
.col{
    position: relative;
    width: calc(100% / 6 - 20px);
    margin: 0 10px;
    height: 300px;
    text-align: center;
}
.col i{
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 3em;
    filter: opacity(0);
}
.col p{
    margin-top: 0.5em;
}
/*WRAPPED FOOTER*/
.footer{
    background-color: #282828;
    width: 100%;
    height: 100px;
}
.song-playing{
    width: 20%;
    height: 100%;
    padding: 20px;
}
.song-card{
    width: 30%;
    height: 100%;
}
.song-card img{
    width: 50px;
}
.player{
    width: 40%;
    height: 100%;
}
/*VOLUME*/
.volume-bar{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: 10px;
    border-radius: 20px;
    background-color: grey;
}
.volume-value{
    width: 50%;
    height: 100%;
    padding: 5px;
    border-radius: 20px;
    background-color: green; 
}
.large{
    width: 80%;
}
.dot{
    filter: opacity(0);
    transition: filter;
    position: absolute;
    top: -3px;
    left: 33%;
}
.dot-large{
   filter: opacity(0);
    transition: filter;
    position: absolute;
    top: -3px;
    left: 47%; 
}
.volume-bar:hover .dot{
    filter: opacity(1);
}
.volume-bar:hover .dot-large{
    filter: opacity(1);
}
/*PLAYER BUTTONS*/
.player-buttons{
    width:100%;
    font-size: 1.2em;
    text-align: center;
}
.player-buttons a{
    vertical-align: middle;
}
.player-buttons a:nth-child(2n+2){
    margin: 0 10px;
}
.player-buttons a:nth-child(3){
    font-size: 1.8em;
}
/*MEDIA QUERIES*/
/*MD MEDIA QUERY*/
@media screen and (max-width: 1100px) {
    /*MAIN CHILDS*/
    .row{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .col{
        width: calc(100% / 4 - 20px);
        margin-bottom: 20px;
    }
    /*MAIN CONTENT*/
    .discover-list li:last-child{
        justify-self: center;
    }
}
/*S MEDIA QUERY*/
@media screen and (max-width: 700px) { 
    /*MAIN CHILDS*/
    .col-left{
        width: 150px;
    }
    .main-content{
        width: calc(100% - 150px);
    }
    /*SONGS LIST*/
    .col{
        width: calc(100% / 2 - 20px);
    }
    .song-section{
        height: calc(100% - 100px);
    }
}
/*XS MEDIA QUERY*/
@media screen and (max-width: 600px) {
    /*MAIN CHILDS*/
    .col-left{
        width: 100px;
    }
    .col-left img[alt="small logo"]{
        display: block;
        width: 30px;
    }
    .col-left img[alt="Spotify Logo"]{
        display: none;
    }
    .playlist{
        display: none;
    }
    .col-left a p{
        display: none;
    }
    .main-content{
        width: calc(100% - 100px);
    }

}