/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
img{
    max-width: 100%;
}
body{
    color: white;
}
a{
    color: inherit;
    text-decoration: none;
}
/*MARGIN*/
.margin-right10{
    margin-right: 10px;
}
.margin-top10{
    margin-top: 10px;
}
/*FLEXBOX*/
.flexcol{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    justify-content: center;
}
.flexjustifystart{
    display: flex;
    justify-content: flex-start;
}
/*LAYOUT*/
/*WRAPPED*/
.wrapped{
    width: 100%;
    height: 100vh;
    position: relative;
}
/*WRAPPED SECTION*/
.main{
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: calc(100% - 100px);
}
/*MAIN CHILDS*/
.col-left{
    width: 250px;
    height: 100%;
    background-color: black;
}
.main-content{
    flex-grow: 1;
    overflow-y: scroll;
}
.upgrade-section{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}
.song-section{
    width: 100%;
}
.song-lists{
    width: 100%;
    padding: 10px;
}
.discover-list{
    width: 100%;
    display: flex;
    justify-content: center;
}
.discover-list li{
    list-style-type: none;
    display: inline-block;
}
.row{
   width: 100%;
}
.col{
    width: calc(100% / 6);
    margin: 0 5px;
    padding: 0 10px;
}
/*WRAPPED FOOTER*/
.footer{
    background-color: #282828;
    width: 100%;
    height: 100px;
}
/*MEDIA QUERIES*/
/*MD MEDIA QUERY*/
@media screen and (max-width: 1100px) {
    /*MAIN CHILDS*/
    .row{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .col{
        width: calc(100% / 4 - 10px);
        margin-bottom: 20px;
    }
    /*MAIN CONTENT*/
    .discover-list li:last-child{
        justify-self: center;
    }
}
/*S MEDIA QUERY*/
@media screen and (max-width: 700px) { 
    /*MAIN CHILDS*/
    .col-left{
        width: 150px;
    }
    /*SONGS LIST*/
    .col{
        width: calc(100% / 2 - 15px);
    }
    .song-section{
        height: calc(100% - 100px);
    }
}
/*XS MEDIA QUERY*/
@media screen and (max-width: 600px) {
    /*MAIN CHILDS*/
    .col-left{
        width: 150px;
    }

}